<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFViewPager-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YFViewPager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04A854B41BEDD4D400501011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DEA7551BE483B80089E40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DEA76E1BE483B80089E40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DEA7791BE483B80089E40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EE533C1BEDD65400C3541A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
